.slide-fade-enter-active {
  transition: all .3s ease;
}
.slide-fade-leave-active {
  transition: all .3s cubic-bezier(1.0, 0.5, 0.8, 1.0);
}
.slide-fade-enter, .slide-fade-leave-to
  /* .slide-fade-leave-active до версии 2.1.8 */ {
  transform: translateX(50px);
  opacity: 0;
}

.fade-fast-enter-active,
.fade-fast-leave-active {
  opacity: 1;
  transform: translateY(0);
  transition: all 0.4s ease;
}
.fade-fast-enter,
.fade-fast-leave-to {
  transform: translateY(-36px);
  opacity: 0;
  transition: all 0.5s ease;
}

.fade-enter-active,
.fade-leave-active {
  opacity: 1;
  transition: all 0.4s ease;
}
.fade-enter,
.fade-leave-to {
  opacity: 0;
  transition: all 0.1s ease;
}