/* Primary colors */
$white: #fff;
$black: #000;
$blue: #2482ff;
$gray: #656463;

/* Typography */
$font-family: 'Poppins', sans-serif;
$font-size: 16;
$font-size-base: 1rem;
$line-height-base: 1.5;

/* Media queries */
$extraSmall: 340px;
$smallPhone: 400px;
$bigPhone: 480px;
$mobile: 600px;
$smallTablet: 768px;
$bigTablet: 1024px;
$smallDesktop: 1280px;
$middleDesktop: 1366px;
$bigDesktop: 1440px;
$largeDesktop: 1600px;
$extraDesktop: 1900px;
