.facts {
  position: relative;
  padding: rem(100) 0;
  @media (max-width: $bigPhone) {
    padding: rem(50) 0;
  }
  &__number {
    font-size: rem(48);
    font-weight: 600;
    background: -webkit-linear-gradient(0deg, #2380ff 0%, #52fdd9 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-transform: uppercase;
    @media (max-width: $bigTablet) {
      font-size: rem(38);
    }
    @media (max-width: $bigPhone) {
      font-size: rem(48);
    }
  }
  &__text {
    font-size: rem(24);
    font-weight: 100;
    color: #000;
    margin-top: rem(15);
    text-transform: uppercase;
    @media (max-width: $bigTablet) {
      font-size: rem(18);
    }
    @media (max-width: $bigPhone) {
      font-size: rem(24);
    }
  }
}
.center-pos {
  text-align: center;
}
